body{
    background-color: rgb(	253, 204, 149);
}

h1{
    text-decoration: underline;
    text-decoration-color: black;
    text-align: center;
}
h2{
    text-align: center;
}
#description{
    text-align: center;
}
hr{
    color: black;
    background-color: black;
    height: 3px;

}
#WorkoutButtons{
    display: flex;
    justify-content: space-evenly;
}
.WorkoutButton{
    height: 100px;
    width: 200px;
    margin: 40px;
    border-width: 10px;
    font-size: 20px;
    border-style: outset;
    background-color: rgb(	253, 204, 149);
    border-color: rgb(42, 107, 168);
}
#GenerateButton{
    display: flex;
    justify-content: center;
}

#quote-display{
    height: 1.5em;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: bold;
    margin: 20px;
}
