body{
    background-color:rgb(	226, 240, 249);
    background-size: auto;


    
}
#s2{
    
    background-color: rgb(176, 221, 228);
    margin-top: 500px;
    padding-bottom: 500px;
}
h1{
    
    text-decoration: underline;
    text-decoration-color: black;
    
}
#tittle{
    text-align: center;
}
h2{
    text-align: center;
}
#description{
    text-align: center;
}
hr{
    color: black;
    background-color: black;
    height: 3px;

}
#WorkoutButtons{
    display: flex;
    justify-content: space-evenly;
}
.WorkoutButton{
    height: 100px;
    width: 200px;
    margin: 40px;
    border-width: 10px;
    font-size: 20px;
    border-style: outset;
    background-color: lightblue;
    border-color: white;
}
#GenerateButton{
    display: flex;
    justify-content: center;
}

#quote-display{
    height: 1.5em;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: bold;
    margin: 20px;
}
