body
{
    background-color: rgb(	253, 204, 149);
}
h1
{
    text-align: center;
}

table,th,td
{
    border: 2px solid black;
    border-spacing:0px;
    text-align: center;
}
th
{
    font-size: 35px;
    background-color: black;
    color:pink;
}

table
{
    width:100%;
}
#exampleBtn
{
    height:100px;
    width:100px;
}
#exampleBtn:hover
{
    background-color:gray;
}